<!DOCTYPE html>
<html lang="ja">
       
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>movie_list</title>
</head>
<body bgcolor="#000" text="#fff" link="#fff" vlink="#f0f" alink="#0ff"　>
    <p><a href="/good">good</a><a href="/midle">midle</a></p>>
<p><table>
    {% for o in all_list %}
        <tr><td><a href={{o}}>{{o}}</a></td><form action = "/next" method = "POST">
            <td><button class="bt1" type="submit" name="bt" value="good,{{o}}"  style="WIDTH: 50px; HEIGHT: 20px">Good</button></td>
            <td><button class="bt1" type="submit" name="bt" value="midle,{{o}}"  style="WIDTH: 50px; HEIGHT: 20px">MIDLE</button></td>
            <td><button class="bt1" type="submit" name="bt"  value="bad,{{o}}"  style="WIDTH: 50px; HEIGHT: 20px">BAD</button></td>
      </tr>{% endfor %}
    </form></table></p>
</body>
</html>