<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>photo_rank</title>
</head>
<body>
<p>{% if input_path %}
        <img src={{input_path}} alt="pic01">
        {% endif %}
        
        <form action = "/next" method = "POST">
        <button class="bt1" type="submit" name="bt" value="good" style="WIDTH: 300px; HEIGHT: 500px">Good</button>
        <button class="bt1" type="submit" name="bt" value="midle" style="WIDTH: 300px; HEIGHT: 500px">MIDLE</button>
        <button class="bt1" type="submit" name="bt"  value="bad"style="WIDTH: 300px; HEIGHT: 500px">BAD</button>
    </form>
        
    </p>
</body>
</html>