<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>photo_rank</title>
</head>
<body>
<p>
        <img src="/static/image/temp/temp.jpg" alt="pic01">
        <form action = "/next" method = "POST">
        <button type="submit" name="bt" value="good">Good</button>
        <button type="submit" name="bt" value="midle">MIDLE</button>
        <button type="submit" name="bt"  value="bad">BAD</button>
    </form>
    </p>
</body>
</html>